<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.radamanthys.hotpoatosphero">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".TelaStart"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />

            </intent-filter>
        </activity>
        <activity android:name=".TelaControle"
            android:screenOrientation="portrait"/>
        <activity android:name=".TelaResultado_positivo"
            android:screenOrientation="portrait"/>
        <activity android:name=".TelaResultado_negativo"
            android:screenOrientation="portrait"/>
        <activity android:name=".TelaServerClient"
            android:screenOrientation="portrait"/>
        <activity android:name=".TelaCadastro"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>